.page{
    background-color: #00ffff;
    width: 100%;
    border: 2px solid;
    border-color: green;
    display: flex;
    flex-wrap: wrap;
}
.points{
    background-color: #ffe4c4;
    height: 100px;
    width: 300px;
    padding: 5px;
}
.text{
    margin-right: 0px;
    background-color:  #a9a9a9;
    max-width: 80%;
}
*{
    margin: 0; 
}
